.goods-gallery{
    margin: 20px;
    width: 50%;
}
.goods-gallery .first img{
    width: 575px;
    height: 314px;
    margin-bottom: 25px;
}
.goods-gallery .second img{
    width: 188px;
    height: 103px;

}
button{
    margin: 0;
    padding: 0;
}
button:hover{
    margin: 0;
    padding: 0;
    border-radius: 50%;
}